@{ 
    Layout = null;
}

@using Models;

@{
    var ASK = ViewBag.ASK as IEnumerable<Models.ASK>;
    var BID = ViewBag.BID as IEnumerable<Models.BID>;
} 


@model Models.Company

    <div>
        <table class="table">
            <thead>
                <tr>
                    <td>
                        Pret
                    </td>
                    <td>
                        Cantitate
                    </td>
                    <td>
                        Data
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @foreach (ASK sk in ASK)
                     {
                        <td>
                            @sk.Price
                        </td>
                        <td>
                            @sk.Quantity
                        </td>
                        <td>
                            @sk.CreatedOn
                        </td>
                     }
                </tr>
            </tbody>
        </table>
    </div>


